@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: white;
    --black: rgb(230, 90, 190);
    --bg: rgb(196, 133, 178);
    --border: .1rem solid rgba(115, 11, 242, 0.994);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}


.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn a:hover {
    color: white;
}

.header {
    background: var(--bg);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 7rem;
}



.header .navbar a {
    margin: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header .social a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.header .social a:hover {
    background-color: white;
    color: rgb(196, 133, 178);
}


/* carousel script starts */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.logos {
    min-height: 50vh;
    overflow: hidden;
    padding: 5% 0;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-slide {
    display: inline-block;
    animation: 150s slide infinite linear;
}

.logos-slide img {
    height: 40vh;
    margin: 0 40px;
}

/* carousel script ends */

/*accueil starts */

.accueil {

    padding-top: 5%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.accueilback {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accueil .row {
    width: 80%;
    display: flex;
    justify-content: center;
}

.accueil .row h3 {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 10rem;
    font-family: 'Felipa', cursive;
    letter-spacing: 3px;
    word-spacing: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100% {
        background-position: 0%;
    }

    0% {
        background-position: 400%;
    }
}

/* accueil ends */

/* broderies starts */
.broderies {
    min-height: 100vh;
    margin: 10%;
    padding: 40px 0;
    overflow: hidden;
}


/* broderies ends */
/* couture starts */

.couture {
    min-height: 100vh;
    margin: 10%;
    padding: 40px 0;
    overflow: hidden;
}

/* couture ends */

/* les pros starts */

.lesprofessionnels {
    min-height: 100vh;
    margin: 10%;
    padding: 40px 0;
    overflow: hidden;
}

/* les pro ends */

/* canins starts */
.canins {
    min-height: 100vh;
    margin: 10%;
    padding: 40px 0;
    overflow: hidden;
}

/* canins ends */


/* clients starts */

.clients {
    min-height: 100vh;
    margin: 10%;
    padding: 40px 0;
    overflow: hidden;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.logos {
    min-height: 50vh;
    overflow: hidden;
    padding: 5% 0;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-slide {
    display: inline-block;
    animation: 150s slide infinite linear;
}

.logos-slide img {
    height: 40vh;
    margin: 0 40px;
}

/* clients ends */

/* contact starts */

.contact .row {
    display: flex;
    background: var(--bg);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact .row h2 {
    color: white;
    text-align: center;
    padding: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}


.contact .row .adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .row .adresse .whatsapp a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7%;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.contact .row .adresse .whatsapp img {
    width: 50%;
    padding-right: 2rem;
}



.adresse .email a {
    font-size: 2rem;
    color: red;
}

#addr {
    width: 70%;
    height: 400px;
}


/* contact ends */

/* footer starts */


.footer {
    background: var(--bg);
    text-align: center;
}

.footer .social {
    padding: 1rem 0;
}

.footer .social a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .social a:hover {
    background-color: white;
    color: rgb(196, 133, 178);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

/* Media Query max 820px starts */

@media only screen and (max-width:820px) {
    #menu-btn {
        display: inline-block;
    }


    /* header media query starts */

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
        height: auto;
        width: auto;
    }

    .header .navbar.active a {
        font-size: 1rem;
    }


    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }


    .header .logo img {
        width: 18rem;
        height: auto;
    }

    .header .social a {
        padding: 0;
        margin: 0;
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
    }

    .header .icons {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        cursor: pointer;
        font-size: 2.5rem;
    }

    /* header media query starts */
    /* accueil media query starts */

    .accueil {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil .content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil .content .usvtitle {
        display: none;
    }

    .accueil .content .labels {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0;
    }

    .accueil .content img {
        width: 80%;
        height: auto;
    }

    .background {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background img {
        width: 100%;
        height: 100%;
    }

    /* accueil media query ends */
    /* broderies media query starts */
    .broderies {
        min-height: 100vh;
        background-image: url('images/images/logocreadefabi.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        padding: 10% 0;
        overflow: hidden;
    }

    .broderies .heading span {
        font-size: 2rem;
    }

    .broderies h1 {
        font-size: 2rem;
    }

    .broderies span {
        color: var(--main-color);
        text-transform: uppercase;
    }

    .containerbroderies {
        max-width: 100vw;
        margin: 0 auto;
        padding: 0 20px;
    }

    .containerbroderies h2 {
        text-align: center;
        font-size: .5rem;
        margin-bottom: 20px;
    }

    .containerbroderies table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
    }

    .containerbroderies table,
    th,
    td {
        font-size: 1rem;
        border: 1px solid #fff;
        border-collapse: collapse;
    }

    .containerbroderies img {
        max-width: 20px;
        height: auto;
    }

    /* broderies media query ends */
    /* les professionnels media query starts */
    .lesequipes {
        max-width: 100vw;
    }

    .lesequipes .heading span {
        font-size: 2rem;
    }

    .lesequipes h1 {
        font-size: 2rem;
    }

    .lesequipes .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1.5rem;
    }

    .lesequipes .box-container .box {
        text-align: center;
        border: var(--border);

    }

    .lesequipes .box-container .box img {
        width: 100%;
        height: auto;
    }

    .lesequipes .box-container .box img:hover {
        width: 100%;
        height: auto;
        align-self: center;
    }

    /* les professionnels media query ends */
    /* agenda media query starts */
    .agenda {
        max-width: 100%;
    }

    .agenda .heading span {
        font-size: 2rem;
    }

    .agenda h1 {
        font-size: 2rem;
    }

    .agenda .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .agenda .box-container .box {
        text-align: center;
        border: var(--border);
        margin: 2rem;
    }

    .custom-padding {
        padding: 10px;
    }

    .agenda {
        width: 100vw;
    }

    .agenda .box-container .box .content h3 {
        font-size: 1.5rem;
    }

    .agenda .box-container .box .image {
        padding: 2.5rem 0;
    }

    .agenda .box-container .box .image img {
        width: 100%;
        height: auto;
    }

    .agenda .box-container .box .content .division {
        color: #fff;
        font-size: 2.5rem;
    }

    .agenda .box-container .box .content .division span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
        color: white;
    }

    /* agenda media query ends */
    /* convocations media query starts */
    .container-convocations .btncontainer .btneq {
        width: 12%;
        height: 5%;
        padding: 1%;
        margin: 2%;
        color: white;
        font-size: 1rem;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
    }

    .tableconvocs {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(23, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        max-width: 100vw;
        align-items: center;
        background-image: url(images/logocreadefabi.jpeg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto;


    }


    /* convocations media query ends */

    /* clients media query starts
    .clients .heading span {
        font-size: 2rem;
    }

    .clients h1 {
        font-size: 2rem;
    }

    .logopart {
        width: 7rem;
        padding: 5px;
    } */
    .logos {
        min-height: 10vh;
        overflow: hidden;
        padding: 15% 0;
        white-space: nowrap;
        position: relative;
    }

    .logos:before,
    .logos:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }





    .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;
    }

    .logos-slide img {
        height: 10vh;
        margin: 0 20px;
    }


    /* clients media query ends */

    /* nous contacter media query starts */
    .contact .heading span {
        font-size: 2rem;
    }

    .contact h1 {
        font-size: 2rem;
    }

    #addr {
        width: 80%;
        height: 300px;
    }

    #maillettes {
        width: 80%;
        height: 300px;
    }

    /* nous contacter media query ends */
    .footer .links {
        display: none;
    }
}

/* Media Query max 820px ends */
/* Media Query min 821px max 1240px starts */


@media only screen and (min-width:821px) and (max-width:1240px) {
    #menu-btn {
        display: inline-block;
    }


    /* header media query starts */

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }


    .header .logo img {
        width: 18rem;
        height: auto;
    }

    .header .social a {
        padding: 0;
        margin: 0;
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
    }

    .header .icons {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        cursor: pointer;
        font-size: 2.5rem;
    }

    /* header media query starts */
    /* accueil media query starts */

    .accueil {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil .content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil .content .usvtitle {
        display: none;
    }

    .accueil .content .labels {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0;
    }

    .accueil .content img {
        width: 80%;
        height: auto;
    }

    .background {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background img {
        width: 60%;
        height: 60%;
    }

    /* accueil media query ends */
    /* broderies media query starts */
    .broderies {
        min-height: 100vh;
        background-image: url('images/logocreadefabi.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        padding: 10% 0;
        overflow: hidden;
    }

    .broderies .heading span {
        font-size: 4rem;
    }

    .broderies h1 {
        font-size: 4rem;
    }

    .broderies span {
        color: var(--main-color);
        text-transform: uppercase;
    }

    .containerbroderies {
        max-width: 100vw;
        margin: 0 auto;
        padding: 0 20px;
    }

    .containerbroderies h2 {
        text-align: center;
        font-size: .5rem;
        margin-bottom: 20px;
    }

    .containerbroderies table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
    }

    .containerbroderies table,
    th,
    td {
        font-size: 1rem;
        border: 1px solid #fff;
        border-collapse: collapse;
    }

    .containerbroderies img {
        max-width: 20px;
        height: auto;
    }

    /* broderies media query ends */
    /* les professionnels media query starts */
    .lesequipes {
        max-width: 100vw;
    }

    .lesequipes .heading span {
        font-size: 4rem;
    }

    .lesequipes h1 {
        font-size: 4rem;
    }

    .lesequipes .box-container .box h3 {
        color: #fff;
        font-size: 3.5rem;
        padding: 1rem 0;
    }

    .lesequipes .box-container .box .division span {

        font-size: 3rem;
        font-weight: bold;
    }


    .lesequipes .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1.5rem;
    }

    .lesequipes .box-container .box {
        text-align: center;
        border: var(--border);

    }

    .lesequipes .box-container .box img {
        width: 100%;
        height: auto;

    }

    /* les professionnels media query ends */
    /* agenda media query starts */
    .agenda {
        max-width: 100%;
    }

    .agenda .heading span {
        font-size: 4rem;
    }

    .agenda h1 {
        font-size: 4rem;
    }

    .agenda .box-container .box .content .custom-padding {
        color: #fff;
        font-size: 3rem;
    }


    .agenda .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .agenda .box-container .box {
        text-align: center;
        border: var(--border);
        margin: 2rem;
    }

    .custom-padding {
        padding: 10px;
    }

    .agenda {
        width: 100vw;
    }

    .agenda .box-container .box .content h3 {
        font-size: 1.5rem;
    }

    .agenda .box-container .box .image {
        padding: 2.5rem 0;
    }

    .agenda .box-container .box .image img {
        width: 100%;
        height: auto;
    }

    .agenda .box-container .box .content .division {
        color: #fff;
        font-size: 2.5rem;
    }

    .agenda .box-container .box .content .division span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
        color: white;
    }

    /* agenda media query ends */
    /* clients media query starts */
    .clients .heading span {
        font-size: 4rem;
    }

    .clients h1 {
        font-size: 4rem;
    }

    .logopart {
        width: 10rem;
        padding: 5px;
    }

    /* clients media query ends */

    /* nous contacter media query starts */
    .contact .heading span {
        font-size: 4rem;
    }

    .contact h1 {
        font-size: 4rem;
    }

    .contact .row .adresse h2 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .adresse .email a {
        font-size: 3rem;
        color: white;
        color: white;
        text-transform: lowercase;

    }

    #addr {
        width: 80%;
        height: 400px;
    }

    /* nous contacter media query ends */
    .footer .links {
        display: none;
    }
}

/* Media Query min 821px max 1240px ends */
/* Media Query min 1241px max 1700px starts */

@media only screen and (min-width:1241px) and (max-width:1700px) {


    /* header media query starts */
    .header {
        padding: 1rem;
    }

    .header .navbar a {
        margin: 0 2rem;
        font-size: 1.2rem;
        color: #fff;
    }

    .header .logo img {
        height: 4rem;
    }


    /* header media query starts */
    /* accueil media query starts */

    .accueil .content .usvtitle {
        display: none;
    }

    .accueil .content .labels {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0;
    }

    .accueil .content img {
        width: 80%;
        height: auto;
    }

    .background {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background img {
        width: 100%;
        height: 100%;
    }

    /* accueil media query ends */
    /* broderies media query starts */
    .broderies {
        min-height: 100vh;
        background-image: url('images/logocreadefabi.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        padding: 10% 0;
        overflow: hidden;
    }

    .broderies .heading span {
        font-size: 4rem;
    }

    .broderies h1 {
        font-size: rem;
    }

    .broderies span {
        color: var(--main-color);
        text-transform: uppercase;
    }

    .containerbroderies {
        max-width: 100vw;
        margin: 0 auto;
        padding: 0 20px;
    }

    .containerbroderies h2 {
        text-align: center;
        font-size: .5rem;
        margin-bottom: 20px;
    }

    .containerbroderies table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
    }

    .containerbroderies table,
    th,
    td {
        font-size: 2rem;
        border: 1px solid #fff;
        border-collapse: collapse;
    }

    .containerbroderies img {
        max-width: 20px;
        height: auto;
    }

    /* broderies media query ends */
}

/* agenda media query starts */
.agenda {
    max-width: 100%;
}

.agenda .heading span {
    font-size: 4rem;
}

.agenda h1 {
    font-size: 4rem;
}

.agenda .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agenda .box-container .box {
    text-align: center;
    border: var(--border);
    margin: 2rem;
}

.custom-padding {
    padding: 10px;
}

.agenda {
    width: 100vw;
}

.agenda .box-container .box .content h3 {
    font-size: 3rem;
}

.agenda .box-container .box .image {
    padding: 2.5rem 0;
}

.agenda .box-container .box .image img {
    width: 100%;
    height: auto;
}

.agenda .box-container .box .content .division {
    color: #fff;
    font-size: 2.5rem;
}

.agenda .box-container .box .content .division span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
}

/* agenda media query ends */
/* clients media query starts */
.clients .heading span {
    font-size: 4rem;
}

.clients h1 {
    font-size: 4rem;
}

.logopart {
    width: 15rem;
    padding: 5px;
}

/* clients media query ends */

/* nous contacter media query starts */
.contact .heading span {
    font-size: 4rem;
}

.contact h1 {
    font-size: 4rem;
}

.contact .row .adresse h2 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adresse .email a {
    font-size: 3rem;
    color: white;
    color: white;
    text-transform: lowercase;
}

.contact .row .maillettesadresse h2 {
    font-size: 2rem;
}


#addr {
    width: 80%;
    height: 400px;
}

#maillettes {
    width: 80%;
    height: 400px;
}

/* nous contacter media query ends */
.footer .links {
    display: none;
}
}

/* Media Query min 1241px max 1700px ends */
/* Media Query min 1701px starts */


@media only screen and (min-width:1701px) {

    /* agenda media query starts */
    .agenda {
        max-width: 100%;
    }

    .agenda .heading span {
        font-size: 4rem;
    }

    .agenda h1 {
        font-size: 4rem;
    }

    .agenda .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .agenda .box-container .box {
        text-align: center;
        border: var(--border);
        margin: 2rem;
    }

    .custom-padding {
        padding: 10px;
    }

    .agenda {
        width: 70vw;
        margin: auto;
    }

    .agenda .box-container .box .content h3 {
        font-size: 3rem;
    }

    .agenda .box-container .box .image {
        padding: 2.5rem 0;
    }

    .agenda .box-container .box .image img {
        width: 80vw;
        height: auto;
    }

    .agenda .box-container .box .content .division {
        color: #fff;
        font-size: 2.5rem;
    }

    .agenda .box-container .box .content .division span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
        color: white;
    }

    /* agenda media query ends */
    /* clients media query starts */
    .clients .heading span {
        font-size: 4rem;
    }

    .clients h1 {
        font-size: 4rem;
    }

    .logopart {
        width: 12rem;
        padding: 5px;
    }

    /* clients media query ends */
    /* contact media query starts */
    .contact .row .adresse h2 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .adresse .email a {
        font-size: 3rem;
        color: white;
        color: white;
        text-transform: lowercase;
    }

    .contact .row .maillettesadresse h2 {
        font-size: 2rem;
    }

    /* contact media query ends */


}

/* Media Query min 1701px ends */